* {
	box-sizing: border-box;
	text-align: center;
}

.div1 {
	border: olivedrab;
	box-sizing: border-box;
	align-content: center;
}


h1 {
	font-size: 50px;
	width: auto;
	font: lighter;
	color: aquamarine;
	align-self: center;
}

.images img { 
    align-content: center;
	height: 150px;
	width: 150px;
}

body{
	
	text-align: center;
}

.answers {
    margin-bottom: 20px;
}

button {
	color: darkgreen;
	font-size: large;
	font-style: normal;
	font-size: medium;
	
}